.form-horizontal {
	margin: 0;
	position: relative;
	top: 15%;
	left: 50%;
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	width: 600px;
	padding: 20px;
	background-color: black;
	border: 3px solid rgba(255, 255, 255, 0.4);
	background: inherit;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background: rgba(209, 218, 229, 0.8);
}

error {
	display: block;
	width: 100%;
	color: red;
}

html, body {
	overflow: auto;
}

label {
	font-size: 18px;
}

#googleMap {
	height: 300px;
	width: 450px;
	overflow: visible;
	position: relative;
}


body #success {
	margin: 0;
	position: relative;
	left: 50%;
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	width: 400px;
	padding: 20px;
	background-color: black;
	border: 3px solid rgba(255, 255, 255, 0.4);
	background: inherit;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background: rgba(209, 218, 229, 0.8);
}

body #success p {
	color: rgb(24,188,156);
	font-size: 23px;
	text-align: center;
	font-weight: bold;
}